FissalWinForm/Service References/Fissal.WSExternos/PacienteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FissalSWSExternos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FissalSWSExternos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CredencialServicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CredencialServicio" nillable="true" type="tns:CredencialServicio" />
  <xs:complexType name="PacienteRespuesta">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Respuesta">
        <xs:sequence>
          <xs:element minOccurs="0" name="Autorizacion" nillable="true" type="tns:ArrayOfAutorizacionWS" />
          <xs:element minOccurs="0" name="Paciente" nillable="true" type="tns:Paciente" />
          <xs:element minOccurs="0" name="Pacientes" nillable="true" type="tns:ArrayOfPacienteWS" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PacienteRespuesta" nillable="true" type="tns:PacienteRespuesta" />
  <xs:complexType name="Respuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respuesta" nillable="true" type="tns:Respuesta" />
  <xs:complexType name="ArrayOfAutorizacionWS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AutorizacionWS" nillable="true" type="tns:AutorizacionWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAutorizacionWS" nillable="true" type="tns:ArrayOfAutorizacionWS" />
  <xs:complexType name="AutorizacionWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adicional" type="xs:boolean" />
      <xs:element minOccurs="0" name="Anulado" type="xs:boolean" />
      <xs:element minOccurs="0" name="AutorizacionId" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoAutorizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControlaCantidad" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiagnosticoAsociado" type="xs:boolean" />
      <xs:element minOccurs="0" name="EstablecimientoId" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSolicitud" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Modalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Monto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nro_Solicitud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PacienteId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreAutorizado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoAutorizacionId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TratamiendoId" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
      <xs:element minOccurs="0" name="Vigencia" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutorizacionWS" nillable="true" type="tns:AutorizacionWS" />
  <xs:complexType name="Paciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Autorizaciones" nillable="true" type="tns:ArrayOfAutorizacion" />
      <xs:element minOccurs="0" name="EstablecimientoIdOrigen" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Historia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nacimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtrosNombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PacienteId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SexoId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TipoDocumentoId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TipoRegimenId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Ubigeo_Adscripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ubigeo_Residencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Validado" type="xs:boolean" />
      <xs:element minOccurs="0" name="fecha_defuncion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nro_contrato" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paciente" nillable="true" type="tns:Paciente" />
  <xs:complexType name="ArrayOfAutorizacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Autorizacion" nillable="true" type="tns:Autorizacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAutorizacion" nillable="true" type="tns:ArrayOfAutorizacion" />
  <xs:complexType name="Autorizacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adicional" type="xs:boolean" />
      <xs:element minOccurs="0" name="Anulado" type="xs:boolean" />
      <xs:element minOccurs="0" name="AutorizacionId" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoAutorizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControlaCantidad" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiagnosticoAsociado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Enviado" type="xs:boolean" />
      <xs:element minOccurs="0" name="EstablecimientoId" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInformeMedico" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRespuesta" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSolicitud" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Modalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Monto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nro_Solicitud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PacienteId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreAutorizado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoAutorizacionId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TratamiendoId" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
      <xs:element minOccurs="0" name="Vigencia" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Autorizacion" nillable="true" type="tns:Autorizacion" />
  <xs:complexType name="ArrayOfPacienteWS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PacienteWS" nillable="true" type="tns:PacienteWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPacienteWS" nillable="true" type="tns:ArrayOfPacienteWS" />
  <xs:complexType name="PacienteWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Historia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nacimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtrosNombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PacienteId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SexoId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TipoDocumentoId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TipoRegimenId" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PacienteWS" nillable="true" type="tns:PacienteWS" />
</xs:schema>